@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<asp:Content ID="indexContent" ContentPlaceHolderID="MainContent" runat="server">
    <div id="test"></div>
    <div id="header">
        <img id="star" src="~/Static/img/star.png" alt="logo-star"/>
        <img id="logo" src="~/Static/img/logo.png" alt="logo-beuresale.fr"/>			
    </div>
    <div id="container-main">
        <div id="search-header">
			<div class="control-group">				
				<div class="controls">
					<form id="search-submit" class="form-search">                        
                        <div class="input-append">
						    <input id="appendedInputButton" class="span2 search-query" type="text" placeholder="Adresse, lieu, ville...">
						    <button class="btn" type="submit">Rechercher</button>
                        </div>
					</form>
				</div>
			</div>
		</div>
        <div id="map_canvas"></div>
        <div id="note"></div>
    </div>
    @if (TempData["success"] != null)
    {
        @Html.Hidden("success", TempData["success"]);
    }
    <div id="notification-bar" class="hero-unit">
        <a href="#" class="close" data-dismiss="modal">×</a>       
        <div id="icon"></div>
        <h1 id="message">Merci !</h1>
        <p id="sub-message">Grâce à votre contribution, nous nous approchons un peu plus d'un monde idéal...</p>              
    </div>
</asp:Content>


